
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "Roboto",sans serif;
    transition: all 0.3s ease-in-out;
}

:root {
  --bs-text: #ffffff;
  --bs-muted: #b6c2cc;

  --bs-background: #0d1117;
  --bs-card: #20272f;

  --bs-tint: #00add4;
  --bs-tint-soft: #3aedff;

  --bs-icon: #00bd95;
  --bs-border: rgba(255, 255, 255, 0.08);

  --bs-radius: 35px;
  --bs-shadow: 0 20px 60px rgba(0, 0, 0, 0.185);
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--bs-background);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,h2,h3{
    color: var(--bs-text);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
p, small, b, a, li{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: var(--bs-text);
    word-wrap: break-word;
}

.btn{
    padding: 10px;
    color: var(--bs-text);
    border-radius: var(--bs-radius);
    background: var(--bs-tint);
    font-weight: bold;
    font-size: clamp(17px, 4vw, 19px);
    border: none;
    box-shadow: var(--bs-shadow);
    cursor: pointer;
}
.btn:hover{
    background: #00a7bdc4;
}

section{
    width: 85%;
    margin: auto;
}
.section-header h2{
    font-size: 30px;
    color: var(--bs-text);
    margin: 5px 0 15px 0;
}


/*======= LOADING STYLE =======*/

.loader-overlay {
  position: fixed;
  inset: 0;
  background: var(--bs-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-container {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--bs-border);
  border-radius: 50%;
  animation: orbit 10s linear infinite;
}
.moon {
  width: 50px;
  height: 50px;
  background: var(--bs-tint);
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 30px var(--bs-tint), 
              0 0 60px var(--bs-tint-soft);
  animation: glow 3s infinite ease-in-out;
}

.pulse {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid var(--bs-tint-soft);
  border-radius: 50%;
  opacity: 0;
  animation: propagate 3s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

.delay {
  animation-delay: 1.5s;
}

.loader-overlay {
  transition: opacity 0.8s ease, visibility 0.8s;
  opacity: 1;
  visibility: visible;
}

.loader-overlay.fade-out {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* --- ANIMATIONS --- */

@keyframes propagate {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes glow {
  0%, 100% { transform: scale(1); filter: brightness(1); }
  50% { transform: scale(1.05); filter: brightness(1.3); }
}

@keyframes orbit {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}